@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center bienvenida">
    <h1 class="text-dark">Rendimiento Academico UAGRM</h1>
    <p class="text-dark">Grupo H</p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/8/82/Escudo_FICCT.png" width="400" alt="Alternate Text" />
</div>

